/* Reset des styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}


h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
    margin: 0; /* Ajout de cette ligne pour éliminer la marge */
    padding: 10px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    font-family: 'Pacifico', cursive;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 80px auto 20px; /* Adjusted margin to make space for fixed header */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Added relative positioning */
}

h2 {
    color: #333;
    top: 80px; /* Adjusted top position to match header height */
    padding: 10px;
    margin-top: 0;
    z-index: 999; /* Ensuring it appears above posts */
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 1; /* Ensure it appears above the background of h2 */
}

.post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #eee;
    text-decoration: none;
    color: #333;
}

.pagination button.disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #888;
}

.pagination button[disabled] {
    cursor: not-allowed;
    background-color: #ccc;
    color: #888;
}


/* Formulaire d'inscription */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition pour le survol */
}

button:hover {
    background-color: #45a049; /* Couleur assombrie lors du survol */
}

/* Messages d'erreur ou d'alerte */
.alert {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #f00;
    color: #f00;
    background-color: #fee;
}

/* Couleurs pour le réseau social */
body {
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

.post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.pagination button{
    background-color: #eee;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    color: #555;
}

.logout-button,
.friends-button,
.profile-button {
    position: fixed;
    z-index: 1001; /* Modifié le z-index */
}

.logout-button {
    top: 10px;
    right: 10px;
}

.logout-button form {
    margin: 0; /* Supprime la marge par défaut du formulaire */
}

.logout-button button {
    padding: 12px 20px;
    background-color: #e74c3c;
    border: none;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.logout-button button:hover {
    background-color: #c0392b;
}

.friends-button {
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.friends-button button {
    display: inline-block;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.friends-button button:hover {
    background-color: #2980b9;
}

.profile-button {
    top: 20px;
    right: 60px;
    transform: translate(0, -50%);
}

.profile-button button {
    display: inline-block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.profile-button button i {
    color: #fff;
    font-size: 18px;
}

.profile-button button:hover {
    background-color: #2980b9;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.user img {
    border-radius: 50%;
    margin-right: 10px;
}

.delete-button button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button button:hover {
    background-color: #c0392b;
}

.action-buttons {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
}

/* Ajoutez ce style pour centrer les boutons verticalement */
.action-buttons form {
    display: flex;
    align-items: center;
}


